#im giving variable names so u should know what u are doing and if no issue pls call me if u understand the code ill remove the .env.example
WORK_DIR = ..#never change this
SECRET_KEY = "add a random int value here"
UPLOAD_DIR = uploads #keep it same as it is 
STORAGE_DIR = storage
RESULT_DIR = results
RETRAIN_DIR = retrain
HOST = localhost #change this if they host it on internet
MAIN_PORT = 8000 #change this if they have any active running server on this port
PORT = 8080 #u can change it but not recommended only change if they have any active running server on this port
# SECRET_KEY = BharatForgeLimited #SKIP THIS it is for backup if the int key doesnt work add this
DOCKER_BIND_IP = 0.0.0.0 # dont change this unless you know what you are doing